* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
}

.title {
    color: rgb(250, 79, 79);
    margin: 20px 0 20px 0;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 370px;
    background-color: black;
    color: white;
    margin-right: 30px;
}

.card img {
    width: 100px;
}

section {
    display: flex;
}

div h3,
div h4 {
    padding: 5px;
    margin: 2px 0 0 15px;
}


.job,
.email {
    font-weight: 400;
}

.email a {
    color: rgb(55, 189, 246);
    text-decoration: none;
}
